.current__weather {
  background-color: #10263b;
  color: #fff;

  & .display__city {
  }

  & .display__temperature {
    font-size: 5rem;
  }

  & .display__weather {
    // font-size: 5rem;

    & .wi {
      width: 3rem;
      color: white;
    }
  }
}
