.wrapper {
  display: flex;
  height: 70vh;
  opacity: 0.8;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
}

.current__weather,
.statistics {
  width: 50%;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.current__weather {
  background-color: #10263b;
  color: #fff;

  & .display__city {
    font-size: 3.25rem;
    margin-bottom: .2em;
  }

  & .display__temperature {
    font-size: 7rem;
    font-family: "Abril Fatface", cursive;
    margin-bottom: 2rem;
    animation: grow 0.4s cubic-bezier(0.36, 1.59, 0.89, 1.1);
  }

  & .display__weather {
    & .wi {
      width: 3rem;
      color: white;
    }
  }
}

.statistics {
  background-color: whitesmoke;
  font-size: 1.7rem;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
